GOVOTE_JWT_SECRET=bf-jwt-secret-32chars-minimum-ok!!
GOVOTE_CPF_PEPPER=bf-cpf-pepper-32chars-minimum-ok!!
GOVOTE_RATE_LIMIT_MAX=200
GOVOTE_RATE_LIMIT_WINDOW_SEC=60
GOVOTE_TOTAL_ELIGIBLE_VOTERS=50000
GOVOTE_N8N_API_KEY=
POLL_ID=1
